:root {
  --slate-100: #f1f5f9;
  --slate-900: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate-900);
  color: var(--slate-100);
  height: 100dvh;
  padding: 0.5 1rem;
}

body, input, textarea, button {
  font: 400 1rem 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}